.receta {
    font-weight: bolder;
}

.cocinero{
    font-style: italic;
}

.detalle-receta-nombre{
    font-size: large;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #966C1C;
    color: white;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
}

.detalle-receta{
    border-color: #966C1C;
    border-style: solid;
}

.active{
    background-color: #966C1C;
}

.col-6 {
    padding-left: 1.5rem;
}

.descripcion{
    padding-left: 1rem;
    padding-right: 1rem;
}

//posicionando el icono del gluten sobre la foto de la receta (detalle):
.receta-relative{
    position: relative;
}

.receta-relative .gluten-absolute{
    position: absolute;
    top: 5px; //bottom: 15rem;
    right: 10px; //left: 19rem;
    padding: 0 10px;
}

//posicionando el icono del gluten a la drcha del nombre de la receta (lista):
.receta{
    position: relative;
}

.list-group-item .gluten-absolute-lista{
    position: absolute;
    top: 10px; //bottom: 4.5rem;
    right: 2px; //left: 19rem;
    padding: 0 10px;
}
