<p>juego works!</p>

<div class="row">

    <div class="col">
        <label>Nombre: </label>
        <input type="text" [(ngModel)]="jugador">
        <button type="button" class="btn btn-primary" (click)="jugar()">Jugar</button>

        <hr>

        <button id="botonClick" type="button" class="btn btn-success" (click)="contarClicks()">Haz click</button>
        <p>{{puntos}}</p>

    </div>   

    <div class="col">
        <h2>Ranking</h2>
        <ul class="list-group">
            <li *ngFor="let j of ranking ">

            </li>
        </ul>

    </div>

</div>