<p>juego works!</p>

<div class="row">

    <div class="col">
        <label>Nombre: </label>
        <input type="text" [(ngModel)]="jugador">
        <button type="button" class="btn btn-primary" (click)="jugar()">Jugar</button>

        <hr>

        <span class="numero">{{puntos}}</span>
        <button type="button" (click)="contarClicks()" [disabled]="!isActivo" class="btn btn-primary btn-block">Haz Click</button>
    </div>   

    <div class="col">
        <h2>Ranking</h2>
        <ul class="list-group">
            <li *ngFor="let j of ranking | keyvalue "
                class="list-group-item"><b>{{j.key}}</b> {{j.value}}</li>            
        </ul>
    </div>

</div>