<!-- <p>{{pokemon | json}}</p> -->

<!-- mensaje -->
<div *ngIf="mensaje" class="alert alert-primary" role="alert">
    {{mensaje}}
</div>

<!-- detalle pokemon -->
<div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{pokemon.imagen}}" class="card-img-top" alt="imagen pokemon">
        <div class="card-body">
            <h5 class="card-title">{{pokemon.nombre}}</h5>
            <p class="card-text">ID: {{pokemon.id}}</p>
            <!-- <p class="card-text">Habilidad {{pokemon.id}}: {{pokemon.habilidad}}</p> -->
            <ol>
                <h3>Habilidades</h3>
                <li *ngFor="let h of pokemon.habilidades">{{h}}</li> <!-- recorremos el array de habilidades -->
            </ol>  
        </div>
    </div> <!-- fin card -->
</div> <!-- fin col -->
