<!-- <p>{{pokemon | json}}</p> -->

<!-- mensaje -->
<div *ngIf="mensaje" class="alert alert-primary" role="alert">
    {{mensaje}}
</div>

<!-- detalle pokemon -->
<div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{pokemon.imagen}}" class="card-img-top" alt="imagen pokemon">
        <div class="card-body">
            <h5 class="card-title">{{pokemon.nombre}}</h5>
            <p class="card-text">{{pokemon.id}}</p>
        </div>
    </div> <!-- fin card -->
</div> <!-- fin col -->
