.principal{

    background: url('/assets/imagenes/login.jpg') no-repeat center center;  //background: url('/assets/imagenes/tareas.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 120vh;
}

.row {
    width: 75vw; //damos un ancho
    margin: auto; //centra la clase en la pantalla
    background-color: rgba($color: white, $alpha: 0.7);
    padding: 15px;
}

.presentacion {
    width: 75vw; //damos un ancho
    margin: auto; //centra la clase en la pantalla
    background-color: rgba($color: white, $alpha: 0.7);
    margin-top: 15px;
    margin-bottom: 15px;
}

p.text-secondary{
    padding-bottom: 15px;
    text-align: center;
}

div.principal{
    margin-top: 15px;
}