<app-navbar></app-navbar>

<main class="container pt-2">
    <!-- MODULO (especie de libreria) de Angular para sistema de rutas o navegacion -->
    <router-outlet></router-outlet>
</main>

<footer class="bg-dark text-white">
    <div class="container p-1 p-sm-3 clearfix"> 
        <div class="float-right">
            Angular2 &copy; 2020
            <div *ngFor = "let g of global">{{g}}</div>
            <a class="fab fa-github" href="https://github.com/ana-db/angularApp" target=_blank></a>
        </div>  
    </div>
</footer>