<div class="row">

    <!-- listado -->
    <div class="col">
        <app-listado [frutas]="frutas" (pasameFrutaEvento)="recogerEvento($event)"></app-listado>
    </div>

    <!-- detalle -->
    <div class="col">
        <app-detalle [fruta]="frutaSeleccionada"></app-detalle>
    </div>

</div>

<!-- 
    Ver listado.component.ts:
    
    (pasameFrutaEvento)="recogerEvento($event)"
    @Output() pasameFrutaEvento = new EventEmitter();
    es un evento de tipo Output y se expresa con ()

    [frutas]="frutas"
    @Input() frutas = Array<Fruta>();
    es un evento de tipo Input y se expresa con []
-->
