<div class="principal">

    <p>Ejemplo de Provider o Servicio para hacer un CRUD completo contra un Servicio Rest</p>

    <!-- mensajes al usuario -->
            <!-- tarea con estado editado -->
            <div class="{{ (alertaEstadoEditado) ? 'alert alert-success' : 'd-none' }}" role="alert">
                Has modificado el estado de la tarea <b>{{tituloTareaEditada}}</b>
            </div>

            <!-- tarea eliminada -->
            <div class="{{ (alertaTareaEliminada) ? 'alert alert-danger' : 'd-none' }}" role="alert">
                Has eliminado la tarea <b>{{tituloTareaEliminada}}</b> con id <b>{{idEliminado}}</b>
            </div>

            <!-- tarea creada -->
            <div class="{{ (alertaTareaCreada) ? 'alert alert-primary' : 'd-none' }}" role="alert">
                Has creado una tarea nueva <b>{{tituloTareaNueva}}</b>
            </div>
            <div class="{{ (mensaje != '') ? 'alert alert-warning' : 'd-none' }}" role="alert">
                {{mensaje}}
            </div>

    <!-- {{tareas | json}} -->

    <div class="row">
        <div class="col-lg-6 offset-3">

            <!---->

            <div class="panel-tareas">

                <h2>Lista de tareas</h2>

                <input type="text" [(ngModel)]="tituloNuevo">
                <button (click)="crearTarea()">Crear nueva tarea</button>
                
                <ul class="lista-tareas">
                    <li *ngFor = "let tarea of tareas">
                        <!-- editar estado -->
                        <!-- usamos la directiva [checked]=tarea.completada para pintar el check sólo en las tareas que están terminadas -->
                        <!-- función (click)="editarEstado(tarea)" para cambiar el check -->
                        <input type="checkbox" [checked]=tarea.completada (click)="editarEstado(tarea)"> 
                        <b>{{tarea.id}}</b>

                        <!-- {{tarea.completada}} -->
                        <!-- en función de si la tarea está completada o no, nos pondrá la clase completada -->
                        <span class="titulo {{ (tarea.completada) ? 'completada' : '' }}">{{tarea.titulo}}</span>

                        <!-- eliminar tarea -->
                        <span class="fas fa-trash-alt" (click)="eliminarTarea(tarea)"></span>
                    </li>
                </ul>

            </div>
        </div> <!-- fin col -->
    </div> <!-- fin row -->

</div> <!-- fin div principal -->

