li{
    span.titulo{
        font-weight: 500;
        margin-left: 10px;
    }

    span.completada{
        text-decoration: line-through;
        font-weight: 100;
        color: rgb(109, 100, 100);
    }
}

/*
.row{ //.panel-tareas
    background-image: url("https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=748&q=80");
    background-repeat: no-repeat, repeat;
}

img{
    opacity: 70%;
}

*/